
  <!--- EPEZANDO DE NUEVO LA PAGINA -->

  <div class="container">

    <div class="row justify content center">
      <div class="col-12 col-lg-5">
        <%= cl_image_tag @gym.photo, height: 300, width: 400, crop: :fill %>


      </div>
      <div class="col-12 col-lg-7">
          <strong>Name:</strong>
    <%= @gym.name %>
  </p>
  <p>
    <strong>Description:  </strong>
    <%= @gym.description %>
  </p>
  <p>
    <strong>Address:</strong>
     <%= @gym.address %>

  </p>
  <p>
    <strong> Price:</strong>
    <%= @gym.pricing %>
  </p>
     <%= link_to 'Edit', edit_gym_path(@gym) %> |
     <%= link_to 'Back', gyms_path %>

      </div>
    </div>
  </div>
